body,html{
  height: 100%;
  background: #eee;
}
.main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title{
  font-size: 18px;
  font-weight: 800;
  color: red;
  text-decoration: underline;
}
img{
  height: 500px;
}
p{
  color: #999;
}